<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="style.css">
    <title>Vue Js 3 Practice</title>

</head>
<body>
        <div id="root">
          <input type="text" v-model="newSkill">   
          <button @click="addSkills">Add Skills</button>       
          <ul>
            <li v-for="(skill,i) in skills" @click="removeItem(i)"> {{skill}}</li>

          </ul>

        </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
</body>
</html>